body {
  color: black;
  font-family: "Lato", sans-serif;
  background: linear-gradient(270deg, #dff5ff, #8fc3ff, #a4b9ee);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  /*  text-align: center;*/ }
  @media (min-width: 480px) {
    body h1 {
      font-size: 8em; } }
  @media (min-width: 992px) {
    body h1 {
      font-size: 4em; } }
  body h1 {
    letter-spacing: 4px; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  body a {
    text-decoration: none; }
  body #name {
    padding-top: 2em;
    padding-bottom: 1em;
    color: black; }
  body #social-profile-links {
    /*   list-style: none;
        li {
            display: inline;
        }*/ }
    body #social-profile-links li {
      padding: .5em 1em 0; }
    body #social-profile-links .social-profile-icon {
      height: 20px;
      width: 20px; }
  body #projects {
    padding-bottom: 5em; }
    body #projects ul {
      list-style-type: none; }
    body #projects .portfolio-link {
      padding: 10px 0;
      font-size: 2em; }
      body #projects .portfolio-link a {
        text-decoration: none;
        color: black; }
        body #projects .portfolio-link a:hover {
          color: white; }

@media (max-device-width: 480px) {
  p {
    font-size: 3em; }
  h3 {
    font-size: 4em; }
  h1 {
    font-size: 6em; } }
